.contador{
    display: flex;
    align-items: baseline;
    text-align: center;
    width: 10rem ;
    justify-content: space-between;
    padding: 2px;
}

.numero{
    margin: 0;
    font-weight: bold;
    font-size: larger;
}

.boton{
    border-radius: 50px !important;
}


